html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
.wrap-usercab{
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  padding-left: 100px;
  border: none;
}

.content-usercab{
  width: calc(100vw - 117px);
  height: calc(100vh - 100px);
  background-color: #f8f8f8;
  position: fixed;
  left: 118px;
    .content-bg{
      z-index: 0;
      .multimedia{
        width: 56px;
        height: 55px;
        fill: #e9e7e7;
        position: absolute;
        left: 800px;
        top: 614px;
      }
      .transport{
        width: 52px;
        height: 55px;
        fill: #e9e7e7;
        position: absolute;
        left: 360px;
        top: 851px;
      }
      .medal{
        width: 50px;
        height: 55px;
        fill: #e9e7e7;
        position: absolute;
        left: 1095px;
        top: 753px;
      }
      .graphic-design{
        width: 55px;
        height: 55px;
        fill: #e9e7e7;
        position: absolute;
        left: 1616px;
        top: 771px;
      }
      .technology{
        width: 55px;
        height: 55px;
        fill: #e9e7e7;
        position: absolute;
        left: 1434px;
        top: 575px;
      }
      .compass{
        width: 55px;
        height: 50px;
        fill: #e9e7e7;
        position: absolute;
        left: 662px;
        top: -10px;
      }
      .mouse{
        width: 56px;
        height: 55px;
        fill: #e9e7e7;
        position: absolute;
        left: 1232px;
        top: -10px;
      }
      .drawing{
        width: 56px;
        height: 55px;
        fill: #e9e7e7;
        position: absolute;
        left: 100px;
        top: -30px;
      }

   }
}

.card-main{
  display: flex;
  .card-left{
    margin-left: 50px;
    .card-top{
      position: fixed;
      width: 755px;
      height: 274px;
      margin-top: 40px;
      display: flex;
      flex-flow: row;
        .foto{
          border:none;
          width: 220px;
          height: 272px;
          display: flex;
          flex-flow: column;
          align-items: center;
          .foto-micro{
            margin-top: 30px;
            margin-bottom: 31px;
            width: 136px;
            height: 136px;
            border-radius: 50%;
              .circle {
                width: 136px;
                height: 136px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items:center;
                .foto-circle {
                  height: 150px;
                }
              }
              .circle-reg{
                width: 136px;
                height: 136px;
                overflow: hidden;
                background-color: #f1f1f1;
                  .logo{
                    width: 88px;
                    height: 29px;
                    margin-top: 50px;
                    margin-left: 20px;
                    z-index: 99;
                  }
              }
          }
          .file-upload input[type="file"]{
            display: none;
          }

          .file-upload {
            position: relative;
            overflow: hidden;
            width: 102px;
            height: 16px;
            font-size: 14px;
            color: #6859dc;
            border-bottom: 1px solid #6859dc;
          }

          .file-upload:hover {
            opacity: .5;
            transition: all .2s;
          }

          .file-upload label {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }
        }
      .info{
        .info-name{
          margin-top: 25px;
          margin-bottom: 10px;
          color: #126dc4;
          font-size: 25px;
          font-weight: 400;
        }
        .info-status{
          font-size: 19px;
          color: #3c3c3c;
          margin-top: -30px;
        }
        .info-form{
          display: flex;
          flex-flow: column;
          .red-star{
            color: #d84c90;
          }
          .phone-main{
            display: flex;
            width: 500px;

            .label-phone{
              color: #676767;
              flex-grow: 1.2;
              align-self: center;
            }
            .form-phone{
              font-size: 16px;
              color: #3c3c3c;
              flex-grow: 1;
              width: 100px;
            }
          }
          .email-main{
            display: flex;
            width: 500px;
            margin-bottom: 15px;
            .label-email{
              color: #676767;
              flex-grow: 1.5;
              align-self: center;
            }
            .form-email{
              font-size: 16px;
              color: #3c3c3c;
              flex-grow: 1;
              width: 100px;
            }
          }
          .name-main-reg{
            display: flex;
            flex-flow: row;
            width: 500px;
            margin-top: 50px;

            .label-name-reg{
              align-self: center;
              color: #676767;
              flex-grow: 2.9;

            }
            .form-name-reg{
              font-size: 14px;
              color: #000000;
              flex-grow: 1;
            }
          }
          .status-main-reg {
            display: flex;
            flex-flow: row;
            width: 500px;
            ;
            .label-status-reg {
              align-self: center;
              color: #676767;
              flex-grow: 2;

            }
            .form-status-reg {
              font-size: 14px;
              color: #6859dc;
              align-self: center;
              flex-grow: 1;

            }
          }
          .phone-main-reg{
            display: flex;
            width: 500px;

            .label-phone-reg{
              color: #676767;
              flex-grow: 1.2;
              align-self: center;

            }
            .form-phone-reg{
              font-size: 16px;
              color: #3c3c3c;
              flex-grow: 1;
              width: 100px;

            }
          }
          .email-main-reg{
            display: flex;
            width: 500px;

            .label-email-reg{
              color: #676767;
              flex-grow: 1.5;
              align-self: center;

            }
            .form-email-reg{
              font-size: 16px;
              color: #3c3c3c;
              flex-grow: 0.9;
              width: 100px;
            }
          }
          .password-main{
            display: flex;
            flex-flow: row;
            width: 450px;
            margin-bottom: 20px;
            .label-password{
              align-self: center;
              margin-right: 133px;
              color: #676767;
            }
            .form-password{
              font-size: 14px;
              color: #6859dc;
              border-bottom:1px solid #6859dc;
              align-self: center;
            }
            .form-password:hover{
              opacity: .5;
              transition: all .2s;
            }
          }
        }
      }
    }
    .card-center{
      width: 755px;
      height: 220px;
      position: absolute;
      margin-top: 348px;
      box-sizing: border-box;
       .info{
         .info-h2{
           margin-top: 30px;
           font-size: 16px;
           font-weight: bold;
           color: #676767;
           margin-left: 40px;
           margin-bottom: 13px;
         }
         .info-form{
           display: flex;
           flex-flow: column;
           .born-main{
             display: flex;
             width: 680px;
             margin-left: 40px;
             .label-born{
               flex-grow: 1;
               color: #676767;
               align-self: center;
             }
             .form-born{
               font-size: 16px;
               color: #3c3c3c;
               border: none;
               flex-grow: 2;
               border: none;
               width: 200px;
             }
           }
           .born-main-reg{
             display: flex;
             width: 680px;
             margin-left: 40px;

             .label-born-reg{
               flex-grow: 0.9;
               color: #676767;
               align-self: center;

             }
             .form-born-reg{
               font-size: 16px;
               color: #3c3c3c;
               flex-grow: 1;
               border: none;
             }
           }
           .child-main-reg{
             display: flex;
             width: 680px;
             margin-left: 40px;

             .label-child-reg{
               flex-grow: 4;
               color: #676767;
               align-self: center;
             }
             .form-child-reg{
               font-size: 16px;
               color: #3c3c3c;
               border: none;
               flex-grow: 2.1;
               border: none;
               width: 100px;
             }
           }
           .family-main-reg{
             display: flex;
             width: 680px;
             margin-left: 40px;

             .label-family-reg{
               flex-grow: 1;
               color: #676767;
               align-self: center;

             }
             .form-family-reg{
               font-size: 16px;
               color: #3c3c3c;
               flex-grow: 1;

               margin-top: -20px;
             }
           }
           .family-main{
             display: flex;
             width: 550px;
             margin-left: 40px;
             .label-family{
               flex-grow: 1.2;
               color: #676767;
               align-self: center;
             }
             .form-family{
               font-size: 16px;
               color: #3c3c3c;
               border: none;
               flex-grow: 1;
               border: none;
               width: 100px;

             }
           }
           .child-main{
             display: flex;
             flex-flow: row;
             width: 650px;
             margin-left: 40px;
             .label-child{
               color: #676767;
               flex-grow: 1.2;
               margin-top: 10px;
             }
             .form-child{
               font-size: 14px;
               color: #6859dc;
               flex-grow: 1;
               overflow-x: auto;
               margin-top: 10px;
               max-height: 40px;
             }
           }
         }

       }
    }

    .card-bottom{
      width: 755px;
      height: 240px;
      position: absolute;
      margin-top: 601px;
        .info{
          display: flex;
          flex-flow: row;
           .left{
             width: 380px;
               .left-h2{
                 margin-top: 30px;
                 font-size: 16px;
                 font-weight: bold;
                 color: #676767;
                 margin-left: 40px;
                 margin-bottom: 15px;
               }
               .counter-main{
                 display: flex;
                 .vertical-div{
                   height: 125px;
                   width: 6px;
                   background-image: linear-gradient(to top, #6858dc 0%, #a499f0 100%);
                   margin-left: 40px;
                 }
                 .counter{
                   margin-left: 38px;
                   margin-top: 25px;
                   .text{
                     color: #676767;
                     font-size: 16px;
                     margin-bottom: 15px;
                   }
                   .number{
                     color: #676767;
                     font-size: 50px;
                     font-family: Gotham Pro, sans-serif;
                   }
                 }
               }

               .left-a{
                 color: #6859dc;
                 font-size: 14px;
                 margin-top: 15px;
                 margin-left: 40px;
                 border-bottom: 1px solid #6859dc;
                 width: 290px;
               }
                .left-a:hover{
                  opacity: .5;
                  transition: all .2s;
                }
           }
          .right{
            width: 370px;
             .circle-main{
               margin-top: 25px;
               margin-left: 60px;
               .circle{
                 z-index: 99;
               }
             }
            .circle-bg{
              width: 190px;
              height: 190px;
              background-color: #5497cc;
              opacity: .5;
              border-radius: 50%;
              position: absolute;
              top: 25px;
              left: 440px;
              z-index: 1;
            }
            .circle-front{
              width: 170px;
              height: 170px;
              background-color: #ffffff;
              border-radius: 50%;
              position: absolute;
              top: 35px;
              left: 450px;
              z-index: 9;
            }
            .circle-text{
              .top{
                color: #6858dc;
                font-size: 50px;
                font-family:Gotham Pro,sans-serif;
                position: absolute;
                top: 70px;
                left: 480px;
                z-index: 99;
              }
              .center{
                color: #5e5e5e;
                font-size: 14px;
                font-family:Gotham Pro,sans-serif;
                position: absolute;
                top: 130px;
                left: 465px;
                z-index: 99;
              }
              .bottom{
                color: #676767;
                font-size: 30px;
                font-family:Gotham Pro,sans-serif;
                position: absolute;
                top: 155px;
                left: 488px;
                z-index: 99;
              }
            }

          }
        }
    }
  }
  .card-right{
    .card-top{
      width: 840px;
      height: 528px;
      display: flex;
      flex-flow: row wrap;
      position: absolute;
      z-index: 999;
      position: absolute;
      margin-left: 790px;
      margin-top: 40px;
      .info{
        .info-h2{
          margin-top: 30px;
          font-size: 16px;
          font-weight: bold;
          color: #676767;
          margin-left: 40px;
          margin-bottom: 15px;
        }
        .info-form{
          display: flex;
          flex-flow: column;
          .hobby-main-reg{
            display: flex;
            flex-flow: row;
            width: 760px;
            margin-left: 40px;

            .label-hobby-reg{
              color: #676767;
              flex-grow: 1;
              align-self: center;

            }
            .form-hobby-reg{
              font-size: 14px;
              color: #3c3c3c;
              flex-grow: 1;

            }
          }
          .color-main-reg{
            display: flex;
            flex-flow: row;
            width: 760px;
            margin-left: 40px;

            .label-color-reg{
              color: #676767;
              flex-grow: 1;
              align-self: center;

            }
            .form-color-reg{
              font-size: 14px;
              color: #3c3c3c;
              flex-grow: 1.38;

            }
          }
          .sport-main-reg{
            display: flex;
            flex-flow: row;
            width: 760px;
            margin-left: 40px;

            .label-sport-reg{
              color: #676767;
              flex-grow: 1;
              align-self: center;

            }
            .form-sport-reg{
              font-size: 14px;
              color: #3c3c3c;
              flex-grow: 1.95;

            }
          }
          .dream-main-reg{
            display: flex;
            flex-flow: row;
            width: 760px;
            margin-left: 40px;

            .label-dream-reg{
              color: #676767;
              flex-grow: 1;
              align-self: center;

            }
            .form-dream-reg{
              font-size: 14px;
              color: #3c3c3c;
              flex-grow: 2.5;

            }
          }
          .textarea-main-reg{
            display: flex;
            flex-fl0ow: row;
            width: 760px;
            margin-left: 40px;

            .label-textarea-reg{
              color: #676767;
              flex-grow: 1.42;
              align-self: flex-start;
              margin-top: 15px;

            }
            .form-textarea-reg{
              font-size: 14px;
              color: #6859dc;
              flex-grow: 1.9;

            }
          }
          .hobby-main{
            display: flex;
            flex-flow: row;
            width: 760px;
            margin-left: 40px;
            .label-hobby{
              color: #676767;
              flex-grow: 1;
              align-self: center;
            }
            .form-hobby{
              font-size: 14px;
              color: #3c3c3c;
              flex-grow: 1;
            }
          }
          .color-main{
            display: flex;
            flex-flow: row;
            width: 760px;
            margin-left: 40px;
            .label-color{
              color: #676767;
              flex-grow: 1;
              align-self: center;
            }
            .form-color{
              font-size: 14px;
              color: #3c3c3c;
              flex-grow: 1.38
            }
          }
          .sport-main{
            display: flex;
            flex-flow: row;
            width: 760px;
            margin-left: 40px;
            .label-sport{
              color: #676767;
              flex-grow: 1;
              align-self: center;
            }
            .form-sport{
              font-size: 14px;
              color: #3c3c3c;
              flex-grow: 1.95;
            }
          }
          .dream-main{
            display: flex;
            flex-flow: row;
            width: 760px;
            margin-left: 40px;
            .label-dream{
              color: #676767;
              flex-grow: 1;
              align-self: center;
            }
            .form-dream{
              font-size: 14px;
              color: #3c3c3c;
              flex-grow: 2.5;
            }
          }
          .textarea-main{
            display: flex;
            flex-fl0ow: row;
            width: 760px;
            margin-left: 40px;
            .label-textarea{
              color: #676767;
              flex-grow: 1.42;
              align-self: flex-start;
              margin-top: 15px;
            }
            .form-textarea{
              font-size: 14px;
              color: #6859dc;
              flex-grow: 2.1;
            }
          }
        }
      }
    }
  }
  .bottom-user-profile{
    margin-top: 620px;
    margin-left: 690px;
  }
}

.body-dialog {
  .input-field {
    margin-bottom: 15px;
  }
}
.dialog-main{
  .date-pick{
    margin-top: 2px;
  }

}
  .column {
    width: 30%;
    height: 50px;
    float: left;
    margin:auto;
  }

  .column-action {
    width: 8%;
    height: 50px;
    float: left;
    margin:auto;
  }

  .column-2 {
    width: 45%;
    height: 50px;
    float: left;
    margin:auto;
    .mask{
       border: none;
       font-size: 20px;
       font-family: Gotham Pro, sans-serif;
       padding-left: 10px;
     }
     .radio{
       margin-top: 12px;
       position: absolute;
       svg {
         left: 0;
         top: 0;
       }
     }
  }

  .column-action-2 {
    width: 8%;
    height: 50px;
    float: left;
    margin:auto;
  }

  .column{
    box-sizing: border-box;
    display: flex;
    align-items:center;
    border:none;
  }

.btn-child{
  padding-bottom:30px;
}













