/*loading animation*/
.animation-wrap{
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items:center;
  justify-content: center;

  animation-name: top-anim;
  animation-delay: 9s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;



  .anim-line {
    position: relative;
    height: 5px;
    width: 556px;
    background-color: #7365f6;

    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-name: line;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 0;
      height: 5px;
      background-color: #7365f6;
      transition: all .5s;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }

    &:hover {
      &:before {
        width: 50%;
      }

      &:after {
        width: 50%;
      }
    }
  }

  .polygon-main {
    opacity: 1;
    width: 56px;
    position: relative;
    left: 1px;
    top: -80px;
    transform-origin: 50% 50%;

    animation-name: anim-polygon-big;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    z-index: 999;

    animation-fill-mode: forwards;

    path {
      fill: #000;
    }

    animation-name: rotation, change-color, anim-polygon-big;
    animation-delay: 0s, 0s, 3s;
    animation-duration: 2s, 2s, 2s;
    animation-iteration-count: infinite, infinite, 1;
    animation-timing-function: linear, linear, linear;
  }
  .hexagon-color-main{
    position: absolute;
    .hexagon-color{
      width: 77px;
      opacity: 0;
      position: relative;
      top: -202px;
      left: -10px;
      z-index: 9999;

      animation-name: opasity;
      animation-delay: 4s;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }

  .anim-form-test{
    width: 477px;
    margin-top: -158px;

    animation-name: anim-height;
    animation-delay: 6s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }


  @keyframes change-color {
    0% {
      fill: #1880FF;
    }

    5% {
      opacity: 1;
      fill: #77DDE7;
    }

    20%{
      fill: #F984E5
    }
    40%{
      fill: #6A5ACD;
    }
    60%{
      fill: #78DBE2;
    }
    80%{
      fill: #9966CC;
    }
    100% {
      fill: #7FFFD4;
    }
  }

  @keyframes rotation {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(360deg);
    }
  }

  @keyframes line{
    0%{
      width: 0;
    }

    100%{
      width:475px;
    }
  }
  @keyframes anim-height{
    0%{
      height: 1px;
    }

    100%{
      height:410px;
    }
  }
  @keyframes anim-polygon-big{
    0%{
      transform:scale(1);
    }

    100%{
      transform:scale(1.35);
    }
  }
  @keyframes opasity{
    0%{
      opacity: 0;
    }

    100%{
      opacity: 1;
    }
  }
}






