.main-page{
  background-color: #f8f8f8;
  width: 1900px;
  height: 1080px;
}
.main-page-line{
   display: flex;
   justify-content: space-around;
}
.page-line{
  width: 2px;
  height: 1080px;
  background-color: #eae9e9;
}
.svg-1{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 55px;
  top: 121px;
}
.svg-2{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 662px;
  top: 81px;
}
.svg-3{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 1240px;
  top: 90px;
}
.svg-4{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 170px;
  top: 270px;
}
.svg-5{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 964px;
  top: 250px;
}
.svg-6{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 1650px;
  top: 250px;
}
.svg-7{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 540px;
  top: 380px;
}
.svg-8{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 1150px;
  top: 430px;
}
.svg-9{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 1550px;
  top: 440px;
}
.svg-10{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 500px;
  top: 650px;
}
.svg-11{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 964px;
  top: 740px;
}
.svg-12{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 1400px;
  top: 600px;
}
.svg-13{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 100px;
  top: 730px;
}
.svg-14{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 1620px;
  top: 870px;
}
.svg-15{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 700px;
  top: 880px;
}
.svg-16{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 1240px;
  top: 900px;
}
.hexagon-1{
  width: 50px;
  position: absolute;
  left: 400px;
  top: 90px;
  transform: rotate(15deg);
  fill: #81bad8;
}
.hexagon-2{
  width: 80px;
  position: absolute;
  left: 790px;
  top: 280px;
  transform: rotate(80deg);
  fill: #7094c9;
}
.hexagon-3{
  width: 10px;
  position: absolute;
  left: 1470px;
  top: 200px;
  transform: rotate(110deg);
  fill: #8fc2a9;
}
.hexagon-4{
  width: 40px;
  position: absolute;
  left: 570px;
  top: 800px;
  transform: rotate(350deg);
  fill: #8fc2a9;
}
.hexagon-5{
  width: 50px;
  position: absolute;
  left: 1520px;
  top: 250px;
  transform: rotate(20deg);
  fill: #81bad8;
}
.hexagon-6{
  width: 80px;
  position: absolute;
  left: 1300px;
  top: 410px;
  fill: #4f3b8b;
}
.hexagon-7{
  width: 50px;
  position: absolute;
  left: 1260px;
  top: 517px;
  fill: #d991bd;
}
.hexagon-8{
  width: 60px;
  position: absolute;
  left: 940px;
  top: 770px;
  transform: rotate(100deg);
  fill: #98bd70;
}
.logo-recovery{
  width: 540px;
  height: 153px;
  position: absolute;
  top: 432px;
  left: 370px;
}
.button-recovery{
  margin-left: 100px;
  width: 300px;
  font-size: 20px;
  position: absolute;
  left: 390px;
  top: 730px;
}
.email-recovery{
  width: 300px;
  font-size: 30px;
  border: 1px solid #858484;
  margin-left: 100px;
  position: absolute;
  top: 550px;
  left: 390px;
}



