
  .form-control-page {
    height: 100%;
    width: 100%;
    background: url(/assets/login/login.png);
    background-size: 100% 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-items:center;
      .anim-form-test{
        position: relative;
        width: 477px;
        height: 1px;
        overflow: hidden;

        .form-wrapper {
          background-color: #f8f8f8;
          display: flex;
          flex-flow: column;
          align-items: center;
          margin-top: 5px;

          animation-name: anim-height;
          animation-delay: 3s;
          animation-duration: 3s;
          animation-iteration-count: 1;
          animation-timing-function: linear;
          animation-fill-mode: forwards;

          .form-group {
            margin-top: 90px;
            display: flex;
            flex-flow: column;
            .e-mail{
              width: 430px;
              min-height: 51px;
              display: flex;
              margin-bottom: 20px;
              background-color: #fff;
              .form-control{
                width: 430px;
                height: 51px;
                display: flex;
                .input{
                  font-size: 20px;
                  font-family:Gotham Pro, sans-serif;
                  width: 350px;
                  padding-left: 10px;
                  padding-right: 10px;
                  border: none;
                }
                .label{
                  font-size: 20px;
                  font-family:Gotham Pro, sans-serif;
                  color: #000;
                  width: 160px;
                  display: flex;
                  align-items:center;
                }
              }
            }
            .password{
              width: 430px;
              min-height: 51px;
              display: flex;
              margin-bottom: 20px;
              .form-control{
                width: 430px;
                display: flex;
                align-items:center;
                background-color: #fff;
                .input{
                  font-size: 20px;
                  font-family:Gotham Pro, sans-serif;
                  width: 430px;
                  padding-left: 10px;
                  padding-right: 10px;
                  border: none;
                }
              }
            }
            .checkbox{
            }
            .buttons-parols{
              display: flex;
              flex-flow: row;
              transition: all 2s;
              .button-resent{
                flex-basis: 50%;
                margin-right: 10px;
              }
              .button-start{
                flex-basis:50%;
                margin-left: 10px;
              }
            }
          }
        }

        .label-radio {
          svg {
            left: 0;
            top: 0;
          }
        }
      }

  }







